.ContactData {
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #EEE;
  box-shadow: 0 2px 3px #CCC;
  text-align: center;
}

.Input {
  display: block;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
